*{
    font-family: Arial, Helvetica, sans-serif;
}
/* header{
    border: 2px solid black;
} */
header h1{
    color: rgb(118, 48, 48);
    font-weight: bold;
}
#section{
    /* border: 2px solid black; */
    width: 70%;
    text-align: center;
}
/* #section p{
    width: 70%;
}  */
#aside{
    /* border: 2px solid black; */
    width: 30%;
}
#aside h3{
    margin-left: 5px;
}
footer{
    background-color: rgb(118, 48, 48);
}
footer h3{
    color: bisque;
    margin: 15px;
    padding: 10px;
}
main{
    display: flex;
}
main ul li a{
    text-decoration: none;
    color: black;
}
#pdf li a:hover{
    color: blue;
}
nav ul li{
    /* border: 2px solid black; */
    text-decoration: none;
    display: inline;
    margin: 0 10px;
    padding: 2px;
}
nav ul li a{
    color: bisque;
    text-decoration: none;
    padding: 10px 10px;
}
nav ul li a:hover{
    background-color: bisque;
    border-radius: 5px;
    color: black;
}
nav ul{
    background-color: rgb(118, 48, 48);
    border-radius: 5px;
    padding: 15px 0;
}
#images{
    display: flex;
}
.myimg{
    width: 20%;
    border-radius: 10px;
    /* float: left; */
    margin: 3% auto;
}


/* Media Queries */
@media screen and (max-width:1200px) {
    main{
        display: block;
    }
    #section,#aside{
        width: 100%;
    }
    #section p{
        margin: auto;
    }
    #myimg{
        width: 15%;
        float: none;
    }
}